/* Index page */
body {  
    background-image: url(img/back.jpg);
    
} 

.mainulli {
    text-align:center;
    font-weight: 1000;
    font-size: 50px;
    background-color: orange;
    color: whitesmoke;
    font-style: italic;


}

/* Template for pages */

#indexhead {
    text-align:center;
    font-weight: 1000;
    font-size: 50px;
    background-color: orange;
    color: whitesmoke;
    font-style: italic;
} 

h1,
#indexhead,
h2 {
    font-weight: 900;
    background-color: brown;
    color: white;
    font-size: 70px;
    text-align: center;
}

.center{ /*Recipe photo centered also universal for this project*/
    display: flex;
    justify-content: center;
    
}

#cakejpg {
        height: auto;
        width: 480px;


}
.wordone {
    background-color: brown;
    color: whitesmoke;
    font-size: 45px;
    font-weight: 500;
}
.par.weight {
    font-style: italic;

}
.heading.font {
    font-style: oblique;

}
h3 {
    font-weight: 900;
    background-color: brown;
    color: white;
    font-size: 70px;
    text-align: center;
}

.cakeul,
.cakeol {
    text-align:center;
    font-weight: 600;
    font-size: 50px;
    background-color: rgb(107, 78, 55);
    color: black;
    font-style: italic;
}
.buttonindex {
    font-size: 30px;
    background-color: white;

}